/* Selector universal */
*
{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}




/* Variables  */
:root
{
    --color_hover: #ffa77b;
    --box-shadow_hover: 0px 0px 10px #ffa77b;
    --color_texto: #fff;
    --border-radius: 7px;
    --transition: 400ms ease;
}




/* Cuerpo de la página */
body
{
    background: #1e1d2b;
}




/* Cabecera de la página */
header
{
    width: 100%;
    height: 80px;
    background: rgba(30, 29, 43, 0.99);
    position: fixed;
    z-index: 10;
}
.nav
{
    width: 90%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1
{
    color: #ff702a;
    font-size: 37px;
    cursor: pointer;
}
.navegar ul li
{
    list-style: none;
    display: inline-block;
}
.navegar ul li a:hover
{
    background: var(--color_hover);
    transition: var(--transition);
    box-shadow: var(--box-shadow_hover);
    color: #000;
    border-bottom-right-radius: var(--border-radius);
}
.navegar a
{
    text-decoration: none;
    padding: 10px;
    transition: var(--transition);
    color: var(--color_texto);
    cursor: pointer;
}
.icon
{
    display: none;
}
.icon a
{
    color: var(--color_texto);
    font-size: 30px;
    cursor: pointer;
}
.navegar_responsive
{
    display: none;
}
.navegar_responsive ul
{
    text-align: center;
    width: 80%;
}
.navegar_responsive ul li
{
    list-style: none;
    padding: 15px;
    margin: 10px;
}
.navegar_responsive a
{
    text-decoration: none;
    transition: var(--transition);
    color: var(--color_texto);
    cursor: pointer;
}
.navegar_responsive ul li:hover
{
    background: var(--color_hover);
    transition: var(--transition);
    box-shadow: var(--box-shadow_hover);
    color: #000;
    border-bottom-right-radius: var(--border-radius);
}


/* Sección Home */
.home
{
    width: 100%;
    position: relative;
    height: 100vh;
}
.contenedor_home
{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen_home
{
    width: 500px;
    display: flex;
    justify-content: end;
}
.imagen_home img
{
    width: 100%;
}
.info_home h1
{
    color: #ff702a;
    font-size: 90px;
    margin-bottom: 5px;
}
.info_home p
{
    color: var(--color_texto);
    font-size: 30px;
}
.info_home a
{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background: #ff702a;
    font-size: 18px;
    transition: var(--transition);
    margin-top: 25px;
    display: inline-block;
}
.info_home a:hover
{
    background: var(--color_hover);
    transition: var(--transition);
    box-shadow: var(--box-shadow_hover);
    color: #000;
    border-bottom-right-radius: var(--border-radius);
}
.info_about a
{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background: #ff702a;
    font-size: 18px;
    transition: var(--transition);
    margin-top: 25px;
    display: inline-block;
}

.info_about a:hover
{
    background: var(--color_hover);
    transition: var(--transition);
    box-shadow: var(--box-shadow_hover);
    color: #000;
    border-bottom-right-radius: var(--border-radius);
}





/* Sección About */
.about
{
    width: 100%;
    position: relative;
    height: 100vh;
}
.contenedor_about
{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen_about
{
    width: 500px;
    display: flex;
    justify-content: start;
}
.imagen_about img
{
    width: 100%;
}
.info_about p
{
    color: var(--color_texto);
    font-size: 22px;
}
.info_about h1
{
    color: var(--color_texto);
    font-size: 50px;
    margin-bottom: 5px;
    line-height: 1;
}
.info_about h3
{
    color: #ff702a;
    line-height: 1;
}




/* Sección Food Menu */
.food_menu
{
    width: 100%;
    position: relative;
    height: 100vh;
}
.contenedor_food_menu
{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contenedor_food_menu
{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.opcines_food_menu
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
}
.opcines_food_menu div img
{
    width: 60%;
}
.opcines_food_menu div
{
    width: 380px;
    height: 380px;
    background: #ffefe8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    cursor: pointer;
}
.opcines_food_menu div:hover
{
    background: var(--color_hover);
    transition: var(--transition);
    box-shadow: var(--box-shadow_hover);
    border-bottom-right-radius: var(--border-radius);
}
.info_food_menu h1
{
    color: var(--color_texto);
    font-size: 50px;
    margin-bottom: 5px;
    line-height: 1;
}
.info_food_menu h3
{
    color: #ff702a;
    line-height: 1;
}





/* Sección Servicios */
.services
{
    width: 100%;
    position: relative;
    height: 100vh;
}

.contenedor_services
{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.opcines_services div img
{
    width: 60%;
}
.opcines_food_menu div p
{
    color: #ff702a;
}
.opcines_food_menu div:hover p
{
    color: #000;
}
.opcines_services div
{
    width: 380px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.opcines_services div p
{
    color: var(--color_texto);
    font-size: 18px;
}
.opcines_services div h2
{
    color: #ff702a;
}
.info_services h1
{
    color: var(--color_texto);
    font-size: 50px;
    margin-bottom: 5px;
    line-height: 1;
}
.info_services h3
{
    color: #ff702a;
    line-height: 1;
}
.opcines_services
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
}
.contenedor_services
{
    display: flex;
    text-align: center;
    flex-direction: column;
}





/* Sección Comida de calidad */
.quality_food
{
    width: 100%;
    position: relative;
    height: 55vh;
    /* top: 60px; */
}
.contenedor_quality_food
{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.info_quality_food 
{
    background: #ffefe8;
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.info_quality_food a
{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background: #ff702a;
    font-size: 18px;
    transition: var(--transition);
    margin-top: 25px;
    display: inline-block;
}
.info_quality_food a:hover
{
    background: var(--color_hover);
    transition: var(--transition);
    box-shadow: var(--box-shadow_hover);
    color: #000;
    border-bottom-right-radius: var(--border-radius);
}
.info_quality_food h1
{
    font-size: 60px;
    line-height: 1;
}




/* Pie de página */
footer
{
    width: 100%;
    height: 40vh;
    position: relative;
}
.contenedor_footer
{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contenedor_footer hr
{
    width: 40%;
    border-color: #ff702a;
}
.contenedor_footer h2
{  
    color: var(--color_texto);
}
.contenedor_footer ul
{
    margin-top: 30px;
    color: var(--color_texto);
    list-style: none;
}
.contenedor_footer a
{
    color: var(--color_texto);
    text-decoration: none;
    display: inline-block;
    transition: var(--transition);
}
.contenedor_footer a:hover
{
    padding-left: 2px;
    font-weight: 600;
    transition: var(--transition);
}
.menu_link,
.our_servive,
.information,
.contant_us
{
    height: 200px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}




/* Responsive */
@media (max-width: 1500px) {
    .opcines_food_menu div,
    .opcines_services div
    {
        width: 320px;
        height: 320px;
        /* top: -100px; */
    }
    .imagen_home img,
    .imagen_about img
    {
        width: 90%;
    }
}

@media (max-width: 1400px) {
    .opcines_food_menu div,
    .opcines_services div
    {
        width: 280px;
        height: 280px;
    }
    .imagen_home img,
    .imagen_about img
    {
        width: 70%;
    }
    .contenedor_home,
    .contenedor_about,
    .contenedor_food_menu,
    .contenedor_services,
    .contenedor_footer
    {
        width: 95%;
        height: 100%;
    }
}

@media (max-width: 1150px) {
    .info_home h1
    {
        font-size: 70px;
    }
    .contenedor_food_menu,
    .contenedor_services
    {   
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .opcines_food_menu div,
    .opcines_services div
    {
        width: 370px;
        height: 370px;
    }
    .opcines_food_menu,
    .opcines_services
    {
        flex-direction: column;
    }
    .food_menu,
    .services
    {
        width: 100%;
        position: relative;
        height: 1500px;
    }
    .info_about p
    {
        font-size: 20px;
    }
    .info_about h1
    {
    font-size: 40px;
    }
    .opcines_food_menu,
    .opcines_services
    {
        gap: 20px;
    }
}

@media (max-width: 990px) {
    .info_home h1
    {
        font-size: 50px;
    }
    .info_about h1,
    .info_food_menu h1,
    .info_services h1
    {
        font-size: 30px;
        margin-bottom: 0px;
    }
    .info_home p
    {
        font-size: 20px;
    }
    .info_about p
    {
        font-size: 18px;
    }
    .info_home a,
    .info_about a,
    .info_quality_food a
    {
        font-size: 15px;
    }
    footer
    {
        height: 900px;
    }
    .contenedor_footer
    {
        display: flex;
        flex-direction: column;
    }
    .contenedor_quality_food h1
    {
        font-size: 45px;
    }
    .imagen_home
    {
        width: 320px;
    }
    .imagen_about
    {
    width: 288px;
    }
    header
    {
        height: 60px;
    }
    .logo h1
    {
    font-size: 30px;
    }
}

@media (max-width: 690px) {
    .navegar
    {
        display: none;
    }
    .icon
    {
        display: block;
    }
    .icon a:hover
    {
        color: var(--color_hover);
    }
    .imagen_home,
    .imagen_about
    {
        justify-content: center;
    }
    .contenedor_home
    {
        text-align: center;
        flex-direction: column;
    }
    .contenedor_about
    {
        text-align: center;
        flex-direction: column-reverse;
    }
    .navegar_responsive
    {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 55px;
    background: #1e1d2b;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(0% at top left);
    transition: clip-path 400ms;
    }
    .navegar_responsive:target
    {
    clip-path: circle(150% at top left);
    }
}